body {
	text-align: center;
}

h1 {
	font-family: "Raleway", sans-serif;
	font-weight: 400;
}

p {
	font-family: "Droid Serif", serif;
}

.links {
	text-decoration: none;
	text-transform: uppercase;
}

.headings {
	text-transform: uppercase;
}